@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
body{
    margin: 0;
    font-family:"Be Viet Nam Pro","Lora";
    font-weight: 700;
    font-size: 20px;
    color:#333333;
    background-color: #FFFFFF;
}
.container{
    max-width: 1366px;
    margin: 0 auto;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0px;
    gap: 30px;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 60px;
    border-radius: 8px;
    background: #E2E2E2;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 820px;
    height: 34px;
    border-radius: 8px;
    background: #E2E2E2;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 42px;
    border-radius: 8px;
    background: #E2E2E2;
}
.bbox1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1366px;
    height: 680px;
    padding: 0px;
    gap: 30px;
    background-color: #F1F1F1;
}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 585px;
    height: 267px;
    border-radius: 8px;
    background-color: #E2E2E2;
   
}
.image{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 585px;
    height: 520px;
    border-radius: 8px;
    background-color: #E2E2E2;
   
}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 80px;
    border-radius: 8px;
    background-color: #E2E2E2;
    font-family: "Lora";
}
.item-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    gap: 30px;
    margin: 40px auto  0;
}
.minibox-1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 380px;
    height: 420px;
    border-radius: 8px;
    background-color: #E2E2E2;
}
.item-2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    gap: 30px;
    margin: 40px auto 0;
}
.minibox-2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 216px;
    height: 300px;
    border-radius: 8px;
    background-color: #E2E2E2;
}
.item-3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    gap: 30px;
    margin: 40px auto 0;
}
.minibox-3{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 277.5px;
    height: 300px;
    border-radius: 8px;
    background-color: #E2E2E2;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1366px;
    height: 72px;
    margin: 0 auto;
    background-color: #D9D9D9;
}
.bbox2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 80px 0px;
}
.bbox3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #F1F1F1;
    padding: 80px 0px;
}
.bbox{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 80px 0px;
}